body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(29, 28, 28);
  color: white;
}

.root {
  display: flex;
  flex-direction: column;
}
header {
  background-color: rgb(73, 67, 67);
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}
.head {
  align-items: center;
  margin: auto;
  padding: auto;
  color: rgb(9, 12, 24);
  font-size: 1.8rem;
  font-weight: bolder;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.search {
  font-size: 1rem;
  border: 3px solid rgb(39, 37, 37);
  border-radius: 50px;
  background-color: transparent;
  color: white;
  padding: 0.5rem 1.5rem;
}
.search:focus {
  outline: none;
}
.movie-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  margin: 1rem;
  position: relative;
  width: 250px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.5);
  background-color: rgb(15, 31, 41);
  overflow: hidden;
}
.movie-img {
  object-fit: cover;
  height: 400px;
  width: 100%;
}
.movie-info {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}
.movie-info h3 {
  margin: 0;
}
.movie-over {
  position: absolute;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.5);
  background-color: rgb(15, 31, 41);
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  padding: 1rem;
  text-transform: capitalize;
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
  max-height: 90%;
  overflow: auto;
}
.movie:hover .movie-over {
  transform: translateY(0%);
}
.tag {
  background-color: rgb(37, 49, 56);
  padding: 0.5rem;
  font-weight: bold;
  border-radius: 5px4;
}
.tag.green {
  color: green;
}
.tag.orange {
  color: orange;
}
.tag.red {
  color: red;
}
.nomovie {
  color: white;
}
